


 <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/R8.avif" alt="">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>The Best way to get a car</h1>
               <!-- <p><a class="btn btn-lg btn-primary" href="#"></a></p> -->
          </div>
        </div>
      </div>
       <div class="carousel-item">
          <img src="assets/audi.avif" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Find the best car for you</h1>
            <p>with a 10% discount</p>
            <p><a class="btn btn-lg btn-primary" routerLink="../car-for-month" href="#">see more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
            <img  src="assets/car image.jpg" alt="">

        <div class="container">
          <div class="carousel-caption text-start">
            <br>
          <!-- <p><a style="position:relative;top:80px" class="btn btn-lg btn-primary" href="#"></a></p> -->
          </div>
        </div>
      </div>
 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

