






<div class="container" style="display:flex;flex-direction:row;padding:20px; background-color: #f1f4f8;">

  <div class="container2" style="width:400px">

          <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <!-- <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" disabled required>
              <label class="form-check-label" for="paypal">PayPal</label>
            </div> -->
          </div>
  <form [formGroup]="payment" (submit)="addBooking()">
          <div class="row gy-3">
            <div class="col-md-8">
              <label for="cc-name" class="form-label">Name on card</label>
              <input type="text" class="form-control" id="cc-name" pattern="^[a-zA-Z ]*$" formControlName="holderName" minlength="6"  required>
              <small class="text-muted" *ngIf="!payment.controls['holderName'].touched">Full name as displayed on card</small>
              <div *ngIf="payment.controls['holderName'].touched">
                <small class="text-danger" *ngIf="payment.controls['holderName'].errors?.['required']">Name on card is required</small>
                <small class="text-danger" *ngIf="!payment.controls['holderName'].errors?.['required'] && payment.controls['holderName'].invalid || payment.controls['holderName'].errors?.['minlength']">Enter valid Holder Name</small>
              </div>
            </div>

            <div class="col-md-8">
              <label for="cc-number" class="form-label">card number</label>
              <input type="text" class="form-control" #value [(ngModel)]="cardNumber"  (input)="validateCard(value)"   formControlName="cardNumber" id="cc-number"   required>
              <div *ngIf="payment.controls['cardNumber'].touched">
               <small class="text-danger" *ngIf="payment.controls['cardNumber'].errors?.['required']"> Debit card number is required</small>
               <br>
               <small class="text-danger" *ngIf="payment.controls['cardNumber'].value!='' && (payment.controls['cardNumber'].value.replaceAll(' ','').length>16 || payment.controls['cardNumber'].value.replaceAll(' ','').length<16)">
                    Enter the valid number
               </small>
              </div>
            </div>

            <div class="col-md-8">
                <label for="cc-expiration" class="form-label">Expiration</label>

               <div style="display: flex;">
               <select class="form-select" formControlName="expireDate">
                     <option value="">Month</option>
                    <option value="01">January</option>
                    <option value="02">February </option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>


                <select class="form-select" formControlName="expireDate">
                  <option value="">Year</option>
                    <option value="23"> 2023</option>
                    <option value="24"> 2024</option>
                    <option value="25"> 2025</option>
                    <option value="26"> 2026</option>
                    <option value="27"> 2027</option>
                    <option value="28"> 2028</option>
                </select>
</div>
              <div   *ngIf="payment.controls['expireDate'].touched">
               <small class="text-danger"  *ngIf="payment.controls['expireDate'].errors?.['required']">  Expiration date required</small>
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="number" class="form-control" formControlName="cvv" size="3"   required>
              <div *ngIf="payment.controls['cvv'].touched">
                <small class="text-danger" *ngIf="payment.controls['cvv'].errors?.['required']">Enter the cvv</small>
                <small class="text-danger" *ngIf="payment.controls['cvv'].value!=null && payment.controls['cvv'].value.toString().length>3">
                   Enter the valid cvv
                </small>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#Backdrop" [disabled]="!payment.valid || payment.controls['cvv'].value.toString().length<3||  payment.controls['cvv'].value.toString().length>3"   type="submit">Confirm</button>
        </form>
      </div>
      <div class=" card rightcontainer">
        <div style="margin-top:30px">

          <div *ngIf="!disableHtmlElements"  style="display: flex;justify-content:space-between">
            <h3 style="font-family: 'Times New Roman', Times, serif;">Month</h3>
            <div style="margin-right:60px;margin-top:5px">
               <i (click)="addAndReduceMonth('add')" class="bg-primary bi bi-plus"></i><span style="padding: 10px;margin-left:5px">{{this.monthValue}}</span><i (click)="addAndReduceMonth('sub')"  class="bg-primary bi bi-dash"></i>
            </div>
          </div>
          <h4 style="display:inline-block;font-family: 'Times New Roman', Times, serif;"> <span>{{bookingCar.brand}} {{bookingCar.model}}</span>

             <span *ngIf="biddingAmount==null &&  disableHtmlElements" class="text-danger" style="margin-left:100px;font-size:30px">{{totalday*bookingCar.rent+300|currency:'INR'}}</span>
                        <span *ngIf="biddingAmount==null && !disableHtmlElements" class="text-danger" style="margin-left:105px;font-size:30px;">{{carRent|currency:'INR'}}</span>
              <span *ngIf="biddingAmount!=null" class="" style="margin-left:100px;font-size:30px">{{biddingAmount*1+300|currency:'INR'}}</span>
          </h4>
       </div>
       <div  style="margin-top: 30px;">

        <p>Delivered On : <span class="text-primary">{{days[rentdate.getDay()]}} {{rentdate.getDate()}} {{months[rentdate.getMonth()]}}
         9.00 AM to 10.00 AM

        </span> </p>
         <p *ngIf="disableHtmlElements">Location:  <span class="text-primary">{{location}}</span></p>
       </div>
          <p>Address </p>
       <div class="" style=" background-color: #f1f4f8;padding:10px;border-radius:10px">

           <input class="form-check-input" type="radio" checked>
           <label style="margin-left: 5px;" for="">{{userList.firstname}}</label>

           <div style="margin-top:5px;padding:10px;">
           <p style="margin-left: 10px;">{{userList.address.address1}}</p>

          </div>

       </div>
       <div>
 <a style="text-decoration: none;" href="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
             </a></div>
<div style="position:relative;top:30px">
        <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Change Address</button>
</div>
      </div>

</div>
<app-billing></app-billing>




<div class="modal fade" id="Backdrop" data-bs-backdrop="modal" #active   tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width:500px;margin-left:70px;margin-bottom:90px;padding:20px">

      <div class="modal-body">
        <div style="text-align:center;">
           <img  style="width:100px;height:100px" src="/assets/checkmark.png" alt="">
           <h3>Booked successfully</h3>
          </div>
      </div>




    </div>
  </div>
</div>
