


<div class="box">


    <div class="card">
        <div class="card-title" style="padding: 20px;">
          <h4>Username</h4>
        </div>
       <a><div class="link"  routerLink="../mybookings" >My Bookings</div></a>
        <a (click)="removeUser()"><div class="link">Logout</div></a>
        <hr>

    </div>
  <form  [formGroup]="updateUser" (ngSubmit)="save()">
    <div class="bookings">

       <div>
        <label for="first name">First Name</label> <br>
        <input type="text" formControlName="firstname" minlength="3" value=""></div>
        <div>
            <label for="last name">Last Name</label><br>
            <input type="text" formControlName="lastname" minlength="4" value=""></div>
         <div>
            <label for="mobile">mobile</label><br>
            <input type="text" formControlName="mobile" minlength="10" maxlength="10" value=""></div>
          <div>
            <label for="email">Email</label>
            <br>
            <input type="text" pattern="^[a-z0-9](\.?[a-z0-9]){5,}@g(oogle)?mail\.com$" formControlName="email" >
        </div>
        <div>
            <button  style="padding:5px;border-radius:5px;border:1px solid rgb(2, 182, 214);margin-left:250px;margin-top:40px" type="submit" [disabled]="updateUser.invalid" class="btb btn-primary">Save Changes</button>
        </div>

    </div>
     </form>
  </div>
