
main{
  background-color: black;
   
}
.card
{
    width: 300px;
   position: fixed;
    margin-left: 30px;
    margin-top: 60px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 2px 2px 3px grey;


}
.box
{
    width: 100%;
    display: flex;
    flex-direction: row;

}
a{
    text-decoration: none;
}
.link
{
    padding: 9px;
    margin-left: 20px;




}
.card-title>h4{

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 6px;
}
.card>a
{
     border-top: 1px solid rgb(49, 48, 48);
    border-bottom: 1px solid rgb(49, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 5px;
    color: white;
}
.bookings
{
    margin-left: 400px;
    margin-top: 42px;
    padding: 20px;

}
.table
{

    border: 1px solid black;
    border-style: dotted;
    width: 100%;

}
th
{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid grey;
    border-left-style: dotted;
    border-block-start-style: dotted;
      border-right-style: dotted;
    border-block-start-width: 2px;
     border-inline-end-width: 3px;
    border-left-width: 2px;
    border-right-width: 2px;
    padding: 10px;

   color: white;



}
td
{
   font-family: Arial, Helvetica, sans-serif;
   border: 1px solid grey;
   text-align: center;
      border-left-style: dotted;
    border-block-start-style: dotted;
     border-right-style: dotted;
    border-block-start-width: 2px;
     border-left-width: 2px;
    border-right-width: 2px;

    padding: 10px;
    color: white;
}
tr
{

    border-block-end-style: dotted;


     border-block-end-width: 2px;
    border-color: grey;
    border-left: 2px;





}
.card a:hover
{
    background-color: white;
    color: black;
}
td>button:hover{

    color: red;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.ng-touched.ng-valid{
    border:1px solid green;

}
input.ng-touched.ng-invalid
{
   border:1px solid red;
}
input
{
  margin-top: 10px;


}
.refund{


  position:absolute;
  left:300px;
  width: 400px;
  padding: 20px;
  background-color:white;
  bottom: 30px;
  border-radius: 10px;

}
